service: arenatime
app: arenatime
 
provider:
  name: aws
  runtime: nodejs10.x
  memorySize: 128
  stage: dev
  region: ap-northeast-2
  iamRoleStatements:
    - 
      Action:
        - "athena:*"
      Effect: Allow
      Resource: "*"
    - 
      Action:
        - "glue:*"
      Effect: Allow
      Resource: "*"
    - 
      Action:
        - "dynamodb:*"
      Effect: Allow
      Resource: "*"
    - 
      Action:
        - "s3:*"
      Effect: Allow
      Resource: "*"
#    - 
#      Action:
#        - "s3:PutObject"
#        - "s3:GetObject"
#        - "s3:ListBucket"
#        - "s3:GetBucketLocation"
#        - "s3:GetBucketNotification"
#        - "s3:PutBucketNotification"
#      Effect: Allow
#      Resource:
#        ? "Fn::Join"
#        : 
#          - ""
#          - 
#            - "arn:aws:s3:::"
#            - "arn:aws:s3:::aws-athena-query-results-*"
#            - "priconne-arenatime"
#            - /*
 
plugins:
  - serverless-offline
  - serverless-plugin-existing-s3
  - serverless-plugin-optimize

custom:
  serverless-offline:
    port: 4000
  # Set the table name here so we can use it while testing locally

package:
  individually: true

functions:
  putImage:
    handler: src/lambda/putS3Image.handler
    events:
      - 
        http:
          path: api/put-s3-image
          method: post
          cors:
            origins:
              - "*"
  putData:
    handler: src/lambda/putS3Data.handler
    events:
      - 
        http:
          path: api/put-s3-data
          method: post
          cors:
            origins:
              - "*"
  getSearch:
    handler: src/lambda/getSearch.handler
    events:
      - 
        http:
          path: api/get-search
          method: get
          cors:
            origins:
              - "*"
  getMatch:
    handler: src/lambda/getMatch.handler
    events:
      - 
        http:
          path: api/get-match
          method: get
          cors:
            origins:
              - "*"
  getImage:
    handler: src/lambda/getImage.handler
    events:
      - 
        http: 
          path: api/get-image
          method: get
          cors:
            origins:
              - "*"
  voteCheck:
    handler: src/lambda/voteCheck.handler
    events: 
      - 
        http:
          path: api/vote
          method: put
          cors:
            origins:
              - "*"
  getCount:
    handler: src/lambda/getCount.handler
    events:
      - 
        http: 
          path: api/get-count
          method: get
          cors:
            origins:
              - "*"
  getPart:
    handler: src/lambda/getPart.handler
    timeout: 12
    events:
    - 
      http: 
        path: api/get-part
        method: get
        cors: 
          origins: 
            - "*"
  getStat:
    handler: src/lambda/getStat.handler
    events:
    - 
      http: 
        path: api/get-stat
        method: get
        cors: 
          origins: 
            - "*"

# you can add CloudFormation resource templates here
resources:
  - ${file(resources/api-gateway-errors.yml)}
  - ${file(resources/dynamo-db.yml)}
  - ${file(resources/s3-bucket.yml)}