.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.github {
  filter: invert(81%) sepia(9%) saturate(6%) hue-rotate(28deg) brightness(109%) contrast(92%);
  margin-left: 5px;
  margin-right: 5px;
}

.discord {
  filter: invert(81%) sepia(9%) saturate(6%) hue-rotate(28deg) brightness(109%) contrast(92%);
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 4px;
}