.cut:nth-child(85):after {
  position: absolute;
  clip: rect(152 px, 684 px, 228 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(84):after {
  position: absolute;
  clip: rect(152 px, 532 px, 228 px, 456 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(83):after {
  position: absolute;
  clip: rect(152 px, 380 px, 228 px, 304 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(82):after {
  position: absolute;
  clip: rect(152 px, 228 px, 228 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(81):after {
  position: absolute;
  clip: rect(152 px, 76 px, 228 px, 0 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(80):after {
  position: absolute;
  clip: rect(76 px, 1140 px, 152 px, 1064 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(79):after {
  position: absolute;
  clip: rect(76 px, 988 px, 152 px, 912 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(78):after {
  position: absolute;
  clip: rect(76 px, 836 px, 152 px, 760 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(77):after {
  position: absolute;
  clip: rect(76 px, 684 px, 152 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(76):after {
  position: absolute;
  clip: rect(76 px, 532 px, 152 px, 456 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(75):after {
  position: absolute;
  clip: rect(76 px, 380 px, 152 px, 304 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(74):after {
  position: absolute;
  clip: rect(76 px, 228 px, 152 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(73):after {
  position: absolute;
  clip: rect(76 px, 76 px, 152 px, 0 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(72):after {
  position: absolute;
  clip: rect(0 px, 1140 px, 76 px, 1064 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(71):after {
  position: absolute;
  clip: rect(0 px, 988 px, 76 px, 912 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(70):after {
  position: absolute;
  clip: rect(0 px, 836 px, 76 px, 760 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(69):after {
  position: absolute;
  clip: rect(0 px, 684 px, 76 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(68):after {
  position: absolute;
  clip: rect(0 px, 532 px, 76 px, 456 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(67):after {
  position: absolute;
  clip: rect(0 px, 380 px, 76 px, 304 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(66):after {
  position: absolute;
  clip: rect(0 px, 228 px, 76 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(65):after {
  position: absolute;
  clip: rect(0 px, 76 px, 76 px, 0 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(64):after {
  position: absolute;
  clip: rect(532 px, 1140 px, 608 px, 1064 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(63):after {
  position: absolute;
  clip: rect(532 px, 988 px, 608 px, 912 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(62):after {
  position: absolute;
  clip: rect(532 px, 836 px, 608 px, 760 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(61):after {
  position: absolute;
  clip: rect(532 px, 684 px, 608 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(60):after {
  position: absolute;
  clip: rect(532 px, 532 px, 608 px, 456 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(59):after {
  position: absolute;
  clip: rect(532 px, 380 px, 608 px, 304 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(58):after {
  position: absolute;
  clip: rect(532 px, 228 px, 608 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(57):after {
  position: absolute;
  clip: rect(532 px, 76 px, 608 px, 0 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(56):after {
  position: absolute;
  clip: rect(456 px, 1140 px, 532 px, 1064 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(55):after {
  position: absolute;
  clip: rect(456 px, 988 px, 532 px, 912 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(54):after {
  position: absolute;
  clip: rect(456 px, 836 px, 532 px, 760 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(53):after {
  position: absolute;
  clip: rect(456 px, 684 px, 532 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(52):after {
  position: absolute;
  clip: rect(456 px, 532 px, 532 px, 456 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(51):after {
  position: absolute;
  clip: rect(456 px, 380 px, 532 px, 304 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(50):after {
  position: absolute;
  clip: rect(456 px, 228 px, 532 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(49):after {
  position: absolute;
  clip: rect(456 px, 76 px, 532 px, 0 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(48):after {
  position: absolute;
  clip: rect(380 px, 1140 px, 456 px, 1064 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(47):after {
  position: absolute;
  clip: rect(380 px, 988 px, 456 px, 912 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(46):after {
  position: absolute;
  clip: rect(380 px, 836 px, 456 px, 760 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(45):after {
  position: absolute;
  clip: rect(380 px, 684 px, 456 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(44):after {
  position: absolute;
  clip: rect(380 px, 532 px, 456 px, 456 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(43):after {
  position: absolute;
  clip: rect(380 px, 380 px, 456 px, 304 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(42):after {
  position: absolute;
  clip: rect(380 px, 228 px, 456 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(41):after {
  position: absolute;
  clip: rect(380 px, 76 px, 456 px, 0 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(40):after {
  position: absolute;
  clip: rect(304 px, 1140 px, 380 px, 1064 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(39):after {
  position: absolute;
  clip: rect(304 px, 988 px, 380 px, 912 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(38):after {
  position: absolute;
  clip: rect(304 px, 836 px, 380 px, 760 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(37):after {
  position: absolute;
  clip: rect(304 px, 684 px, 380 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(36):after {
  position: absolute;
  clip: rect(304 px, 532 px, 380 px, 456 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(35):after {
  position: absolute;
  clip: rect(304 px, 380 px, 380 px, 304 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(34):after {
  position: absolute;
  clip: rect(304 px, 228 px, 380 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(33):after {
  position: absolute;
  clip: rect(304 px, 76 px, 380 px, 0 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(32):after {
  position: absolute;
  clip: rect(228 px, 1140 px, 304 px, 1064 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(31):after {
  position: absolute;
  clip: rect(228 px, 988 px, 304 px, 912 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(30):after {
  position: absolute;
  clip: rect(228 px, 836 px, 304 px, 760 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(29):after {
  position: absolute;
  clip: rect(228 px, 684 px, 304 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(28):after {
  position: absolute;
  clip: rect(228 px, 532 px, 304 px, 456 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(27):after {
  position: absolute;
  clip: rect(228 px, 380 px, 304 px, 304 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(26):after {
  position: absolute;
  clip: rect(228 px, 228 px, 304 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(25):after {
  position: absolute;
  clip: rect(228 px, 76 px, 304 px, 0 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(24):after {
  position: absolute;
  clip: rect(152 px, 1140 px, 228 px, 1064 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(23):after {
  position: absolute;
  clip: rect(152 px, 988 px, 228 px, 912 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(22):after {
  position: absolute;
  clip: rect(152 px, 836 px, 228 px, 760 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(21):after {
  position: absolute;
  clip: rect(152 px, 684 px, 228 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(20):after {
  position: absolute;
  clip: rect(152 px, 532 px, 228 px, 456 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(19):after {
  position: absolute;
  clip: rect(152 px, 380 px, 228 px, 304 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(18):after {
  position: absolute;
  clip: rect(152 px, 228 px, 228 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(17):after {
  position: absolute;
  clip: rect(152 px, 76 px, 228 px, 0 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(16):after {
  position: absolute;
  clip: rect(76 px, 1140 px, 152 px, 1064 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(15):after {
  position: absolute;
  clip: rect(76 px, 988 px, 152 px, 912 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(14):after {
  position: absolute;
  clip: rect(76 px, 836 px, 152 px, 760 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(13):after {
  position: absolute;
  clip: rect(76 px, 684 px, 152 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(12):after {
  position: absolute;
  clip: rect(76 px, 532 px, 152 px, 456 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(11):after {
  position: absolute;
  clip: rect(76 px, 380 px, 152 px, 304 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(10):after {
  position: absolute;
  clip: rect(76 px, 228 px, 152 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(9):after {
  position: absolute;
  clip: rect(76 px, 76 px, 152 px, 0 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(8):after {
  position: absolute;
  clip: rect(0 px, 1140 px, 76 px, 1064 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(7):after {
  position: absolute;
  clip: rect(0 px, 988 px, 76 px, 912 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(6):after {
  position: absolute;
  clip: rect(0 px, 836 px, 76 px, 760 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(5):after {
  position: absolute;
  clip: rect(0 px, 684 px, 76 px, 608 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(4):after {
  position: absolute;
  clip: rect(0 px, 532 px, 76 px, 456 px);
  width: 1216px;
  height: 836px;
}
.jyun img {
  position: absolute;
  clip: rect(0px, 380px, 76px, 304px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(2):after {
  position: absolute;
  clip: rect(0 px, 228 px, 76 px, 152 px);
  width: 1216px;
  height: 836px;
}
.cut:nth-child(1):after {
  position: absolute;
  clip: rect(0 px, 76 px, 76 px, 0 px);
  width: 1216px;
  height: 836px;
}
/*
.cut:nth-child(@{i}):after {
min-width: ((mod(((@i)-1), 8) * 76)*2)px;
    max-width: (((mod(((@i)-1), 8))*2+1) * 76)px;
    min-height: ((mod(floor(((@i)-1)/8), 8) * 76))px;
    max-height: ((mod(floor(((@i)-1)/8), 8)+1) * 76)px;
    */
