.text {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.party-text {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 14px;
  margin-right: 14px;
}

.remove-underline {
  text-decoration: none !important;
  box-shadow: none !important;
  color: white;
}

.remove-underline:hover {
  text-decoration: none !important;
  color: white;
}

.five {
  margin-top: 5px;
}

.ten {
  margin-top: 10px;
}

.twenty {
  margin-top: 20px;
}